$yellow: #f5cb5c;
$brown: #8F877E;
$brown-opacity: rgba(143, 135, 126, 0.432);
$white: #F3F3F3;
$black: #2C2E2D;
$light-brown: #d5d2d0;

$font-raleway: 'Raleway', sans-serif;
$font-EB: 'EB Garamond', serif;